                            /*-- Body Reset --*/
                            
                            body {
                                overflow-x: hidden;
                                font-family: 'Montserrat', sans-serif;
                                color: #616971;
                            }
                            
                            h1.box-shadown {
                                text-shadow: -3px 3px 7px black;
                                font-weight: 600;
                            }
                            
                            body {
                                overflow-x: hidden;
                                font-family: 'Montserrat', sans-serif;
                                color: #616971;
                            }
                            /*============= TOP BAR HEADER =============*/
                            
                            .top-bar {
                                background-color: #7aaec4;
                                height: 2.8rem;
                                padding: 0.5rem 0;
                            }
                            
                            .top-bar a {
                                color: white;
                                text-decoration: none;
                            }
                            /*============= NAVIGATION =============*/
                            
                            .navbar-brand img {
                                height: 3rem;
                            }
                            
                            .navbar {
                                font-size: 1.15rem;
                                font-weight: 600;
                                letter-spacing: .1rem;
                                /* z-index: 1; */
                                box-shadow: 0 .5rem .5rem rgba(0 0 0.1);
                            }
                            
                            .nav-item {
                                padding: .5rem;
                            }
                            
                            .nav-link {
                                color: #5b5555!important;
                            }
                            
                            .nav-link.active,
                            .nav-link:hover {
                                color: white!important;
                            }
                            /*============= CAROUSEL =============*/
                            
                            .carousel-caption {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                text-transform: uppercase;
                            }
                            
                            .custom-font {
                                font-size: 1rem;
                            }
                            /*-- Carousel Content --*/
                            
                            .custom-box {
                                background: #0000007d;
                                border-radius: 0.5rem;
                                padding: 2rem;
                            }
                            /*===== FIXED BACKGROUND IMG =====*/
                            
                            .fixed {
                                background-image: url('../img/matrix.jpg');
                                position: fixed;
                            }
                            
                            .fixed-background {
                                padding: 10rem 0px;
                            }
                            /*===== FIXED BACKGROUND IMG =====*/
                            
                            .fixed-background {
                                overflow: hidden;
                                /*-- Correction for iOS --*/
                            }
                            
                            .emoji {
                                background-image: linear-gradient(to right, #4981b3, rgb(214, 57, 57));
                                padding: .4rem 0!important;
                                min-height: 0!important;
                            }
                            
                            i.fas.fa-plug.class {
                                font-size: 32px;
                                text-align: center;
                                margin-left: 50%;
                                color: white;
                            }
                            /*-- Emoji Navbar --*/
                            /*============= FOOTER =============*/
                            
                            footer {
                                background-color: #383838;
                            }
                            
                            ul.social {
                                display: flex;
                                max-width: 16rem;
                                margin: 0 auto;
                                padding: 0;
                            }
                            
                            ul.social li {
                                margin: 10px;
                                list-style: none;
                                /* margin: 0 auto */
                            }
                            
                            footer img {
                                height: 3.5rem;
                                margin: 1.5rem auto;
                            }
                            
                            .socket {
                                background-color: #222222;
                                border-top: 1rem solid #4981b3;
                            }
                            /*============= SOCKET =============*/
                            /*============= MEDIA QUERIES =============*/
                            /* Devices under 1199px (xl) */
                            
                            @media (max-width: 1199.98px) {
                                * {}
                            }
                            /* Devices under 768px (md) */
                            
                            @media (max-width: 767.98px) {}
                            /*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
                            /*-- Bootstrap Mobile Gutter Fix --*/
                            
                            .row,
                            .container-fluid {
                                margin-left: 0px !important;
                                margin-right: 0px !important;
                            }
                            /*-- Fixed Background Image --*/
                            
                            .fixed-background {
                                position: relative;
                                width: 100%;
                                z-index: 1000!important;
                            }
                            
                            .fixed-wrap {
                                clip: rect(0, auto, auto, 0);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -999 !important;
                            }
                            
                            .fixed {
                                z-index: -999!important;
                                display: block;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: center center;
                                -webkit-transform: translateZ(0);
                                transform: translateZ(0);
                                will-change: transform;
                            }